bandit==1.8.6
black==25.9.0
blinker==1.9.0
cfgv==3.4.0
click==8.3.0
distlib==0.4.0
filelock==3.19.1
flake8==7.3.0
flask==3.1.2
flask-cors==6.0.2
identify==2.6.14
isort==6.0.1
itsdangerous==2.2.0
jinja2==3.1.6
markdown-it-py==4.0.0
markupsafe==3.0.2
marshmallow==4.0.1
mccabe==0.7.0
mdurl==0.1.2
mypy-extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.4.0
pre-commit==4.3.0
pycodestyle==2.14.0
pyflakes==3.4.0
pygments==2.19.2
python-dotenv==1.1.1
pytokens==0.1.10
pyyaml==6.0.2
rich==14.1.0
-e file:///home/rafael-albuquerque/repos/trabalho-intercursos/backend
stevedore==5.5.0
virtualenv==20.34.0
werkzeug==3.1.3
